# HMI Logger Configuration - PRODUCTION
PRESS_NUMBER={{PRESS_NUMBER}}
PRESS_NAME="Press_{{PRESS_NUMBER}}"

SMB_SERVER=10.69.1.52
SMB_USER=ftp@maverickmolding.com
SMB_PASS=blueisland20!
SMB_SHARE=HMI_Upload

LOCAL_MOUNT=/mnt/smb_share
USB_IMAGE=/piusb.bin
USB_MOUNT=/mnt/usb_share
